.btn {
  fill: black;
  width: 30px;
  height: 30px;
}

.filled {
  fill: red;
}

.heartIcon {
  position: absolute;
  border: none;
  background: none;
  position: absolute;
  top: 0;
  padding: 10px;
  right: 0;
}

.heartIcon:hover {
  cursor: pointer;
}
