.navbar {
  background: black;
  height: 50px;
}

.navlist {
  list-style: none;
  display: flex;
  justify-content: space-between;
  /* margin: 0 10px; */
  padding: 10px;
  color: white;
  align-items: center;
}

.logo {
  width: 150px;
}

.navCart {
  background: none;
  border: none;
}

.count {
  color: white;
  font-size: 10px;
}

.snipcart-button-primary {
  background-color: var(--color-link);
}
