@media (min-width: 768px) {
  .gridContainer {
    display: grid;
    grid-template-areas: "image info";
    align-items: center;
    padding: 100px 4vw;
    grid-gap: 45px 4vw;
    grid-template-columns: 250px;
  }
  .imgItem {
    grid-area: image;
  }
}

@media (min-width: 1024px) {
  .gridContainer {
    max-width: 900px;
    margin: 0 auto;
    grid-gap: 24px 4vw;
  }
}
