.likeList-container {
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(2, 1fr);
}

.title {
  margin-left: 20px;
  font-weight: 700;
  text-transform: capitalize;
}

@media (min-width: 768px) {
  .gridContainer {
    display: grid;
    grid-template-areas: "image info";
    align-items: center;
    padding: 100px 4vw;
    grid-gap: 45px 4vw;
    grid-template-columns: 250px;
  }
  .imgItem {
    grid-area: image;
  }

  .likeList-container {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .gridContainer {
    max-width: 900px;
    margin: 0 auto;
    grid-gap: 24px 4vw;
  }

  .likeList-container {
    width: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    display: flex;
    padding: 50px 0;
  }
}
