:root {
  --color-link: green;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f0eeef;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.snipcart-button-primary {
  background-color: var(--color-link);
}

.snipcart-item-line__media--small {
  height: 100px;
}

.snipcart-item-description {
  font-weight: 600;
}

.snipcart-item-custom-fields,
.snipcart-item-quantity__label {
  font-weight: 700;
}
