.grid-container {
  display: grid;
  place-items: center;
}
.homeContainer {
  position: relative;
}

.title {
  font-size: 24px;
  letter-spacing: 1.7px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .title {
    font-size: 40px;
  }
}

@media (min-width: 1024px) {
  .mainSection {
    max-width: 900px;
    margin: 0 auto;
  }

  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
