.grid-container {
  display: grid;
  place-items: center;
}

.message {
  font-size: 24px;
  letter-spacing: 1.7px;
  font-weight: 700;
  line-height: 50px;
  margin: 0 auto;
  text-align: center;
}

.title {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  text-align: center;
  font-size: 30px;
}
.itemCounter {
  padding-left: 20px;
}
@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .message {
    font-size: 24px;
  }
}

@media (min-width: 1024px) {
  .mainSection {
    max-width: 900px;
    margin: 0 auto;
  }

  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
