/* .productContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* .productdetailsContainer {
  width: 250px;
  text-align: left;
} 


@media (min-width: 768px) {
  .productContainer {
    width: 50%;
  }

  .product-name {
    height: 45px;
    margin-bottom: 0;
  }
} */

.imgItem {
  position: relative;
}

.product-name {
  margin: 10px 0 0;
  height: 45px;
  font-size: 14px;
}

.expressCartContainer {
  display: none;
}
.product-name {
  margin: 10px 0;
}

.itemContainer {
  width: 90%;
  margin: 0 auto;
}

.product-price {
  margin-bottom: 10px;
  color: #666;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 14px;
}

@media (min-width: 768px) {
  .productdetailsContainer {
    max-width: 200px;
  }

  .product-name {
    height: auto;
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  .gridItemContainer {
    width: 200px;
  }

  .itemContainer {
    height: 90%;
    scroll-snap-align: start;
    padding: 1rem;
    display: flex;
  }
  .productdetailsContainer {
    max-width: 200px;
    text-align: center;
    display: none;
  }
  .expressCartContainer {
    display: inline-block;
  }
}
